
# Access DB2 Warehouse on Cloud and explore the data with Python

This notebook shows how to access a DB2 data warehouse or DB2 database when using Python. The examples use a DB2 warehouse, but the instructions apply to both DB2 Warehouse and DB2.



## Table of contents

1. [Info](#Info)
1. [Create Version](#Version)
1. [Setup](#Setup) 
1. [Import the *ibmdbpy* Python library](#Import-the-ibmdbpy-Python-library)
1. [Insert the database connection credentials](#Insert-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Use dataframe to read and manipulate tables](#Use-dataframe-to-read-and-manipulate-tables)
1. [Use SQL](#Use-SQL)
1. [Explore the trafficking data](#Explore-the-trafficking-data)
1. [Close the database connection](#Close-the-database-connection)
1. [Share the notebook](#Share)
1. [Save to GitHub](#GitHub)
1. [Help](#Help)
1. [Summary](#Summary)

<a id="Info"></a>
## Info
Select the Info icon to display general information about the notebook. <br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/info-button.png" ><br>
You can change the notebook name or add a description here.  
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/bleonardb3/DSX/master/Lab-1/images/Lab1Information.png" >

<a id="Version"></a>
## Create Version 

Save a version of the notebook by selecting File > Save Version 
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/FileOptions.PNG" > or by selecting the Versions icon. <img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/versions-button.png" ><br>
You can have up to ten (10) versions of a notebook.   Notebook versions are saved in a FIFO manner.

<a id="Setup"></a>
## Setup

Before beginning you will need a *DB2 Warehouse on Cloud* instance. DB2 Warehouse is a fully managed cloud data warehouse, purpose-built for analytics. It offers massively parallel processing (MPP) scale and compatibility with a wide range of business intelligence (BI) tools.  

1. __RIGHT-CLICK__ [this link](https://github.com/bleonardb3/DSX/raw/master/Lab-1/data/Female-human-trafficking.csv) and select __Save Link As...__ to save the `Female-human-trafficking.csv` file to your desktop.
1. Download the [DB2 Warehouse setup instructions](https://github.com/bleonardb3/DSX/blob/master/Lab-1/DB2Warehouse_DSXPOT.pdf).  You need to download the PDF in order for the links to work.
1. Open up the PDF file that you've just downloaded in the previous step and follow the instructions there to setup DB2 Warehouse, load the human trafficking data and create a DSX data connection.
1. Click on the icon below to navigate to the DB2 Warehouse provisioning screen. 

<a class="ibm-tooltip" href="https://console.ng.bluemix.net/catalog/services/dashdb" target="_blank" title="" id="ibm-tooltip-0">
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/DB2Warehouse.png" >
</a>

<a id="Import-the-ibmdbpy-Python-library"></a>
## Import the *ibmdbpy* Python library

Python support for DB Warehouse and DB2 is provided by the [ibmdbpy Python library](https://pypi.python.org/pypi/ibmdbpy). Connecting to DB2 Warehouse or DB2 is also enabled by a DB2 driver, libdb2.so.  The ibmdbpy project provides a Python interface for data manipulation and access to in-database algorithms in IBM DB2 Warehouse and IBM DB2. It accelerates Python analytics by seamlessly pushing operations written in Python into the underlying database for execution, thereby benefitting from in-database performance-enhancing features, such as columnar storage and parallel processing.

### Setup a *JDBC* connection
The JDBC Connection is based on a Java virtual machine. From the ibmdbpy library you can use JDBC to connect to a remote DB2 Warehouse/DB2 instance. To be able to use JDBC to connect, we need to import the *JayDeBeApi* package and we need to add the DB2 Warehouse/DB2 data connector jar file to the java class path.

To run a cell, click on the cell and click the run button in the toolbar or press __SHIFT-ENTER__.

Run the following commands to install and load the `JayDeBeApi` package and the `ibmdbpy` library into your notebook:

In [1]:
import jaydebeapi
from ibmdbpy import IdaDataBase
from ibmdbpy import IdaDataFrame

In [2]:
import pixiedust

Pixiedust database opened successfully

In [3]:
# connection jar for DB2 Warehouse on Cloud -- you may have to restart the kernel and re-run cells.   If you do, a warning will appear.

pixiedust.installPackage("file:///usr/local/src/data-connectors-1.4.1/db2jcc4-10.5.0.6.jar")

Package already installed: file:///usr/local/src/data-connectors-1.4.1/db2jcc4-10.5.0.6.jar

<a id="Insert-the-database-connection-credentials"></a>
## Insert the database connection credentials

Click on the cell below, then on the notebook toolbar, click the box of 1's and 0's, find your database connection and click the __Insert to code__ link under the connection name to have a `credentials_1` dictionary added to the notebook.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/connections-button.png" >

__Note__: When this dictionary is inserted, it might have a different name than `credentials_1`.  If so change the dictionary name to `credentials_1` so that the rest of the notebook will work.

Connecting to DB2 Warehouse requires the following information which are provided by the credentials dictionary inserted:
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User password

The information `credentials_1` will be used to build a connection string in a subsequent step.

In [4]:
# The code was removed by DSX for sharing.

<a id="Create-the-database-connection"></a>
## Create the database connection

The following code snippet creates a connection string `connection_string`
and uses the `connection_string` to create a database connection object:

In [5]:
connection_string='DASHDB;Database={database};Hostname={host};Port=50000;PROTOCOL=TCPIP;UID={username};PWD={password}'.format(**credentials_1)
idadb = IdaDataBase(dsn=connection_string)

<a id="Use-dataframe-to-read-and-manipulate-tables"></a>
## Use a dataframe to read and manipulate tables

You can now use the connection object `idadb` to query the database. <b>Note</b>: An IdaDataBase instance represents a reference to a remote dashDB/DB2 instance. This is an abstraction layer for the remote connection. The IdaDataBase interface provides several functions that enable basic database administration in pythonic syntax.

In [6]:
df = idadb.show_tables(show_all = True)
df.head(100)

    TABSCHEMA                    TABNAME      OWNER TYPE
0   DASH13422   FEMALE_HUMAN_TRAFFICKING  DASH13422    T
1   DASH13422                GOSALESTEST  DASH13422    T
2     GOSALES                     BRANCH   DB2INST1    T
3     GOSALES            CONVERSION_RATE   DB2INST1    T
4     GOSALES                    COUNTRY   DB2INST1    T
5     GOSALES            CURRENCY_LOOKUP   DB2INST1    T
6     GOSALES            EURO_CONVERSION   DB2INST1    T
7     GOSALES           INVENTORY_LEVELS   DB2INST1    T
8     GOSALES              ORDER_DETAILS   DB2INST1    T
9     GOSALES               ORDER_HEADER   DB2INST1    T
10    GOSALES               ORDER_METHOD   DB2INST1    T
11    GOSALES                    PRODUCT   DB2INST1    T
12    GOSALES              PRODUCT_BRAND   DB2INST1    T
13    GOSALES       PRODUCT_COLOR_LOOKUP   DB2INST1    T
14    GOSALES           PRODUCT_FORECAST   DB2INST1    T
15    GOSALES               PRODUCT_LINE   DB2INST1    T
16    GOSALES        PRODUCT_NAME_LOOKUP   DB2INST1    T
17    GOSALES        PRODUCT_SIZE_LOOKUP   DB2INST1    T
18    GOSALES               PRODUCT_TYPE   DB2INST1    T
19    GOSALES              RETURNED_ITEM   DB2INST1    T
20    GOSALES              RETURN_REASON   DB2INST1    T
21    GOSALES               SALES_REGION   DB2INST1    T
22    GOSALES               SALES_TARGET   DB2INST1    T
23    GOSALES             TIME_DIMENSION   DB2INST1    T
24    GOSALES        TIME_QUARTER_LOOKUP   DB2INST1    T
25    GOSALES                     XGOREV   DB2INST1    T
26  GOSALESDW     AGGR_TIME_PROD_OM_FACT   DB2INST1    T
27  GOSALESDW                BURST_TABLE   DB2INST1    T
28  GOSALESDW               BURST_TABLE2   DB2INST1    T
29  GOSALESDW        DIST_INVENTORY_FACT   DB2INST1    T
..        ...                        ...        ...  ...
70  GOSALESDW     GO_TIME_QUARTER_LOOKUP   DB2INST1    T
71  GOSALESDW    MRK_ACTIVITY_STATUS_DIM   DB2INST1    T
72  GOSALESDW               MRK_ADV_FACT   DB2INST1    T
73  GOSALESDW    MRK_BUNDLE_GROUP_LOOKUP   DB2INST1    T
74  GOSALESDW        MRK_CAMPAIGN_LOOKUP   DB2INST1    T
75  GOSALESDW     MRK_PRODUCT_SURVEY_DIM   DB2INST1    T
76  GOSALESDW    MRK_PRODUCT_SURVEY_FACT   DB2INST1    T
77  GOSALESDW  MRK_PROD_SURVEY_TARG_FACT   DB2INST1    T
78  GOSALESDW          MRK_PROMOTION_DIM   DB2INST1    T
79  GOSALESDW         MRK_PROMOTION_FACT   DB2INST1    T
80  GOSALESDW    MRK_PROMOTION_PLAN_FACT   DB2INST1    T
81  GOSALESDW         MRK_RTL_SURVEY_DIM   DB2INST1    T
82  GOSALESDW        MRK_RTL_SURVEY_FACT   DB2INST1    T
83  GOSALESDW   MRK_RTL_SURVEY_TARG_FACT   DB2INST1    T
84  GOSALESDW       SLS_ORDER_METHOD_DIM   DB2INST1    T
85  GOSALESDW   SLS_PRODUCT_BRAND_LOOKUP   DB2INST1    T
86  GOSALESDW   SLS_PRODUCT_COLOR_LOOKUP   DB2INST1    T
87  GOSALESDW            SLS_PRODUCT_DIM   DB2INST1    T
88  GOSALESDW    SLS_PRODUCT_LINE_LOOKUP   DB2INST1    T
89  GOSALESDW         SLS_PRODUCT_LOOKUP   DB2INST1    T
90  GOSALESDW    SLS_PRODUCT_SIZE_LOOKUP   DB2INST1    T
91  GOSALESDW    SLS_PRODUCT_TYPE_LOOKUP   DB2INST1    T
92  GOSALESDW                SLS_RTL_DIM   DB2INST1    T
93  GOSALESDW             SLS_SALES_FACT   DB2INST1    T
94  GOSALESDW        SLS_SALES_ORDER_DIM   DB2INST1    T
95  GOSALESDW        SLS_SALES_TARG_FACT   DB2INST1    T
96  GOSALESDW           VIEW_ACCOUNT_DIM   DB2INST1    V
97  GOSALESDW      VIEW_BALANCED_ORG_DIM   DB2INST1    V
98  GOSALESDW               VIEW_ORG_DIM   DB2INST1    V
99  GOSALESDW          VIEW_PRODUCT_NAME   DB2INST1    V

[100 rows x 4 columns]

In [7]:
idadb.exists_table_or_view('GOSALESDW.EMP_EXPENSE_FACT')

True

Using our previously opened IdaDataBase instance named ‘idadb’, we can open one or several IdaDataFrame objects. They behave like pointers to remote tables.

Let us open the *EMP_EXPENSE_FACT* data set, assuming it is stored in the database under the name ‘GOSALESDW.EMP_EXPENSE_FACT’. The following cell assigns the dataset to a IdaDataFrame.   IdaDataFrame copies the Pandas interface for DataFrame objects to ensure intuitive interaction for end-users.

The [Pandas data analysis library](http://pandas.pydata.org/) provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas allows easy processing and manipulation of tabular data, so it is a perfect fit for data extracted from relational databases.

In [8]:
idadf = IdaDataFrame(idadb, 'GOSALESDW.EMP_EXPENSE_FACT')

### Automatic creation of dataframes for tables<br>
<div class="panel-group" id="accordion-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse1-1">Optional Advanced:</a></h4>
    </div>
    <div id="collapse1-1" class="panel-collapse collapse">
      <div class="panel-body">
Try adding the IdaDataFrame for the table in question from the Connections view -- do all the following commands still work?<br><br>
To add the dataframe, select the "Find and Add Data" icon (the one with 0 and 1s), select Connections, then "Insert to code" for the dataframe.    You will have to select the schema and table to use.

      </div>
    </div>
  </div>
</div>

In [9]:
# Try adding the dataframe here -- be sure to rename it to idadf so the following cells will still work
idadf = IdaDataFrame(idadb, 'DASH13422.FEMALE_HUMAN_TRAFFICKING')

In [10]:
idadf.dtypes

                                TYPENAME
INTERNAL_ID                     SMALLINT
VETTING_LEVEL                   SMALLINT
DESCRIPTION                      VARCHAR
VETTING_LEVEL_PREDICTION        SMALLINT
ALGORITHM_NAME                   VARCHAR
NAME                             VARCHAR
GENDER                           VARCHAR
BIRTH_DATE                          DATE
BIRTH_COUNTRY                    VARCHAR
BIRTH_COUNTRY_CODE               VARCHAR
OCCUPATION                       VARCHAR
ADDRESS                          VARCHAR
SSN                              VARCHAR
PASSPORT_NUMBER                  INTEGER
PASSPORT_COUNTRY                 VARCHAR
PASSPORT_COUNTRY_CODE            VARCHAR
COUNTRIES_VISITED                VARCHAR
COUNTRIES_VISITED_COUNT         SMALLINT
ARRIVAL_AIRPORT_COUNTRY_CODE     VARCHAR
ARRIVAL_AIRPORT_IATA             VARCHAR
ARRIVAL_AIRPORT_MUNICIPALITY     VARCHAR
ARRIVAL_AIRPORT_REGION           VARCHAR
DEPARTURE_AIRPORT_COUNTRY_CODE   VARCHAR
DEPARTURE_AIRPORT_IATA           VARCHAR
DEPARTURE_AIRPORT_MUNICIPALITY   VARCHAR
DEPARTURE_AIRPORT_REGION         VARCHAR
UUID                             VARCHAR
AGE                             SMALLINT

You can very easily explore the data in the IdaDataFrame by using built in functions.

Use IdaDataFrame.head to get the first n records of your data set (default 5):

In [11]:
idadf.head(10)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,1,100,NA,30,DECISION_TREE,Kathleen Bailey,F,1985-11-27,Ghana,GH,...,US,BMI,Bloomington/Normal,US-IL,AE,AUH,Abu Dhabi,AE-AZ,81d28245-a6d4-40e3-bac0-df61cc6625ce,31
1,2,30,NA,30,DECISION_TREE,Kelly Robbins,F,1971-01-17,Pakistan,PK,...,US,CLE,Cleveland,US-OH,UA,KBP,Kiev,UA-32,b4d817b3-2154-4351-b0e3-bcd736a76bf5,46
2,3,100,NA,30,DECISION_TREE,Linda Stewart,F,1997-04-15,Ghana,GH,...,US,TPA,Tampa,US-FL,RU,KJA,Krasnoyarsk,RU-KYA,a52a6477-1f5e-4b09-a5e3-f76333a7eb10,19
3,4,100,NA,30,DECISION_TREE,Stacey Courtney Gonzalez,F,1984-03-27,Ghana,GH,...,US,TOL,Toledo,US-OH,RU,AER,Sochi,RU-KDA,5fcbbf15-8268-4306-ac26-406c2faae251,32
4,5,30,NA,30,DECISION_TREE,Erika Patie Fowler,F,1998-06-18,Ghana,GH,...,US,FWA,Fort Wayne,US-IN,IE,ORK,Cork,IE-C,6d1fe59a-6828-4bc5-9ded-2194aa238461,18
5,6,100,NA,30,DECISION_TREE,Ashlee Fisher,F,1981-01-05,Ghana,GH,...,US,OKC,Oklahoma City,US-OK,AE,AUH,Abu Dhabi,AE-AZ,b5c7e0a7-56b6-4f3d-b480-76832b4042c4,36
6,7,100,NA,30,DECISION_TREE,Jacqueline Clark,F,1976-01-19,Ghana,GH,...,US,TUS,Tucson,US-AZ,IS,KEF,Reykjavík,IS-2,077fc1af-1802-40ac-b3bd-c6329d2161d3,41
7,8,30,NA,30,DECISION_TREE,Shell Chapman,F,1997-08-24,Ghana,GH,...,US,DLF,Del Rio,US-TX,KW,KWI,Kuwait City,KW-FA,fb3808ae-b5f8-482b-bac7-4cebb8761723,19
8,9,10,NA,10,DECISION_TREE,Sabrina Debra Wilson,F,1977-02-21,Haiti,HT,...,US,DTW,Detroit,US-MI,DZ,ALG,Algiers,DZ-35,4e2f72ee-b05c-4763-9503-448d93ef72d7,40
9,10,100,NA,10,DECISION_TREE,Ashley Gibson,F,1986-04-06,Ghana,GH,...,US,STL,St Louis,US-MO,IT,FCO,Rome,IT-62,d4252e23-2f33-42b7-a54f-fc1ecfa4c3ff,30

Use IdaDataFrame.tail to get the last n records of your data set (default 5) -- try running this multiple times:

In [12]:

idadf.tail(10)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
1075,1076,100,NA,100,DECISION_TREE,Lei Norton,F,1978-06-15,Ghana,GH,...,US,GSO,Greensboro,US-NC,HK,HKG,Hong Kong,HK-U-A,49b760f1-da18-4185-a62c-9eb5ae194fae,38
1076,1077,100,NA,100,DECISION_TREE,Sadye Jenkins,F,1981-11-21,Ghana,GH,...,US,LFI,Hampton,US-VA,AE,AUH,Abu Dhabi,AE-AZ,9823927e-0a30-43e3-b08b-fa64dc2e5e04,35
1077,1078,100,NA,100,DECISION_TREE,Autumn Carrie Alexander,F,1995-06-28,Ghana,GH,...,US,DBQ,Dubuque,US-IA,AE,DXB,Dubai,AE-DU,250689bb-628b-4624-855c-5cbadfd93ea8,21
1078,1079,100,NA,100,DECISION_TREE,Ammi Davis,F,1992-10-16,Ghana,GH,...,US,OKC,Oklahoma City,US-OK,LV,RIX,Riga,LV-RIX,cb6b196e-676c-4924-b606-e3bcff5069a7,24
1079,1080,100,NA,100,DECISION_TREE,Brandi Davis,F,1984-03-15,Ghana,GH,...,US,RST,Rochester,US-MN,QA,DOH,Doha,QA-DA,daf058fb-a200-4335-bbad-31560e4325fd,33
1080,1081,100,NA,100,DECISION_TREE,Angela Martin,F,1993-06-16,Ghana,GH,...,US,MIA,Miami,US-FL,LY,TIP,Tripoli,LY-TB,5947e672-a702-406e-82b2-546e6db51fa3,23
1081,1082,100,NA,100,DECISION_TREE,Jenny Rocha,F,1980-06-28,Ghana,GH,...,US,PHX,Phoenix,US-AZ,QA,DOH,Doha,QA-DA,2f73acd1-ba86-427f-8a26-3dfe43135ed7,36
1082,1083,100,NA,100,DECISION_TREE,Amanda Davis,F,1988-03-19,Ghana,GH,...,US,END,Enid,US-OK,BS,NAS,Nassau,BS-NP,f01a0785-a8e8-4644-86ca-d9e427b74284,28
1083,1084,100,NA,100,DECISION_TREE,Whitney Gordon,F,1974-03-11,Ghana,GH,...,US,BOS,Boston,US-MA,RU,DME,Moscow,RU-MOS,b0c065de-9f9d-4312-801f-d11bf9e427b5,43
1084,1085,100,NA,100,DECISION_TREE,Kimberly Rivera,F,1974-06-09,Ghana,GH,...,US,GSO,Greensboro,US-NC,LB,BEY,Beirut,LB-JL,711ef4d1-eb05-43c0-b10a-69afc7a7a1a5,42

__Note__: Because DB2 Warehouse operates on a distributed system, the order of rows using IdaDataFrame.head and IdaDataFrame.tail is not guaranteed unless the table is sorted (using an ‘ORDER BY’ clause) or a column is declared as index for the IdaDataFrame (parameter/attribute indexer).

IdaDataFrame also implements most attributes that are available in a pandas DataFrame, here is an example of getting the _shape_ of the data frame (rows, columns):

In [13]:
idadf.shape

(1085, 28)

In [14]:
idadf.columns

Index(['INTERNAL_ID', 'VETTING_LEVEL', 'DESCRIPTION',
       'VETTING_LEVEL_PREDICTION', 'ALGORITHM_NAME', 'NAME', 'GENDER',
       'BIRTH_DATE', 'BIRTH_COUNTRY', 'BIRTH_COUNTRY_CODE', 'OCCUPATION',
       'ADDRESS', 'SSN', 'PASSPORT_NUMBER', 'PASSPORT_COUNTRY',
       'PASSPORT_COUNTRY_CODE', 'COUNTRIES_VISITED', 'COUNTRIES_VISITED_COUNT',
       'ARRIVAL_AIRPORT_COUNTRY_CODE', 'ARRIVAL_AIRPORT_IATA',
       'ARRIVAL_AIRPORT_MUNICIPALITY', 'ARRIVAL_AIRPORT_REGION',
       'DEPARTURE_AIRPORT_COUNTRY_CODE', 'DEPARTURE_AIRPORT_IATA',
       'DEPARTURE_AIRPORT_MUNICIPALITY', 'DEPARTURE_AIRPORT_REGION', 'UUID',
       'AGE'],
      dtype='object')

Several standard statistics functions from the pandas interface are also available for IdaDataFrame.  You can use the __TAB__ key after the `.` to see the methods and attributes available in an object in a pulldown menu. 

For example, let us calculate various summary statistics for the data set by using the `describe()` method for the IdaDataFrame instance:

In [15]:
idadf.describe()

,INTERNAL_ID,VETTING_LEVEL,VETTING_LEVEL_PREDICTION,PASSPORT_NUMBER,COUNTRIES_VISITED_COUNT,AGE
count,1085.000000,1085.000000,1085.000000,1.085000e+03,1085.000000,1085.000000
mean,543.000000,87.373272,51.649770,4.872943e+08,4.391705,30.811060
std,313.356825,28.711792,38.319724,2.925367e+08,2.837630,9.343993
min,1.000000,10.000000,10.000000,1.773050e+05,1.000000,15.000000
25%,272.000000,100.000000,20.000000,2.325441e+08,2.000000,23.000000
50%,543.000000,100.000000,30.000000,4.867979e+08,4.000000,31.000000
75%,814.000000,100.000000,100.000000,7.451034e+08,6.000000,39.000000
max,1085.000000,100.000000,100.000000,9.980199e+08,12.000000,47.000000

__Note__: It is possible to subset the rows of an IdaDataFrame by accessing the IdaDataFrame with a slice object. You can also use the IdaDataFrame.loc attribute, which contains an ibmdbpy.Loc object. However, the row selection might be inaccurate if the current IdaDataFrame is not sorted or does not contain an indexer. This is due to the fact that DB2 Warehouse stores the data across several nodes if available. Moreover, because DB2 Warehouse is by default a column oriented database, row numbers are undefined:

In [16]:
idadf_new = idadf[0:9] # Select the first 10 rows
idadf_new.head(10)

/usr/local/src/conda3_runtime/home/envs/DSX-Python35-Spark/lib/python3.5/site-packages/ibmdbpy/indexing.py:118: UserWarning: Row order is not guaranteed if no indexer was given and the dataset was not sorted
  " was given and the dataset was not sorted")

,internal_id,vetting_level,description,vetting_level_prediction,algorithm_name,name,gender,birth_date,birth_country,birth_country_code,...,arrival_airport_country_code,arrival_airport_iata,arrival_airport_municipality,arrival_airport_region,departure_airport_country_code,departure_airport_iata,departure_airport_municipality,departure_airport_region,uuid,age
0,949,100,NA,100,DECISION_TREE,Yvette Theresa Jenkins,F,1978-09-21,Ghana,GH,...,US,WRB,Warner Robins,US-GA,FR,MRS,Marseille,FR-U,b15880a0-cc63-48b1-95df-9c25ec4c7f44,38
1,950,100,NA,100,DECISION_TREE,Lindy Sandra King,F,1989-11-13,Ghana,GH,...,US,DFW,Dallas-Fort Worth,US-TX,RU,GRV,Grozny,RU-CE,48193af8-f7dd-4563-b84e-8b01066f524f,27
2,951,100,NA,100,DECISION_TREE,Elizabeth Neal,F,1989-12-11,Ghana,GH,...,US,FLL,Fort Lauderdale,US-FL,RU,AER,Sochi,RU-KDA,386ce9f3-06b3-4911-9870-d59ebca4c44c,27
3,952,100,NA,100,DECISION_TREE,Elizabeth Odom,F,1985-02-01,Ghana,GH,...,US,BHM,Birmingham,US-AL,NL,MST,Maastricht,NL-LI,6c30fbe2-1d7f-47e1-9db3-38796db9f0f6,32
4,953,100,NA,100,DECISION_TREE,Rachel Mason,F,1975-01-14,Ghana,GH,...,US,SPS,Wichita Falls,US-TX,RU,KJA,Krasnoyarsk,RU-KYA,3e1ad799-2ec7-4175-94f0-639b7adf906c,42
5,954,100,NA,100,DECISION_TREE,Lauren Carla Harvey,F,1983-03-20,Ghana,GH,...,US,MSN,Madison,US-WI,KE,NBO,Nairobi,KE-110,1aba3769-332c-47fd-98d8-5009b690b2c8,33
6,955,100,NA,100,DECISION_TREE,Laur Judy White,F,1988-10-15,Ghana,GH,...,US,GSP,Greenville,US-SC,ME,TGD,Podgorica,ME-16,71978b73-369c-4550-97fc-4f4d3edd0c7f,28
7,956,100,NA,100,DECISION_TREE,Michaela Smith,F,1970-07-16,Ghana,GH,...,US,ROA,Roanoke,US-VA,UZ,TAS,Tashkent,UZ-TO,a43bebc7-936e-4138-9774-5e88ad401d88,46
8,957,100,NA,100,DECISION_TREE,Lauren Jones,F,1974-02-09,Ghana,GH,...,US,VBG,Lompoc,US-CA,BH,BAH,Manama,BH-15,72909cd2-cc4c-4ad5-9744-1d73923c3891,43
9,958,100,NA,100,DECISION_TREE,Elizabeth Betty Martin,F,1980-01-13,Ghana,GH,...,US,SFO,San Francisco,US-CA,LV,RIX,Riga,LV-RIX,461c494d-d8aa-4b38-b15b-1296a6016ecc,37

<a id="Use-SQL"></a>
## Use SQL
We can also use SQL to get the top 10.

In [17]:
top_10_df = idadb.ida_query('SELECT * FROM GOSALESDW.EMP_EXPENSE_FACT LIMIT 10')
top_10_df

,day_key,organization_key,position_key,employee_key,expense_type_key,account_key,expense_unit_quantity,expense_total
0,20120731,11167,43636,4192,2122,8054,0.11,620.16
1,20120731,11167,43636,4192,2124,8056,0.03,169.13
2,20120731,11167,43636,4192,2131,8049,157.50,5637.82
3,20120831,11167,43636,4192,2120,8052,0.08,451.03
4,20120831,11167,43636,4192,2122,8054,0.11,620.16
5,20120831,11167,43636,4192,2124,8056,0.03,169.13
6,20120831,11167,43636,4192,2131,8049,172.50,5637.82
7,20120930,11167,43636,4192,2120,8052,0.08,451.03
8,20120930,11167,43636,4192,2122,8054,0.11,620.16
9,20120930,11167,43636,4192,2124,8056,0.03,169.13

Find the top 10 employees (by id) by the number of transactions in the `GOSALESDW.EMP_EXPENSE_FACT` table.

In [18]:
idadb.ida_query('SELECT EMPLOYEE_KEY, COUNT(*) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')

   employee_key  count
0          4112  263.0
1          4134  263.0
2          4135  261.0
3          4019  260.0
4          4016  260.0
5          4053  260.0
6          4368  260.0
7          4129  259.0
8          4480  259.0
9          4020  258.0

<a id="Explore-the-trafficking-data"></a>
## Explore the trafficking data
__Time to apply what you've learned!__

Complete the tasks that are commented in the code blocks.  If you get stuck, check out the hints.  If you're still stuck, read the solution.  If you have any questions, feel free to ask.

### Create an ibmdbpy dataframe called `trafficking_df` and set it to the name of the trafficking table in your DB2 Warehouse <br>

<div class="panel-group" id="accordion-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-1">Hint 1</a></h4>
    </div>
    <div id="collapse2-1" class="panel-collapse collapse">
      <div class="panel-body">     
Use the Connections table to insert the dataframe.   Be sure to name the result trafficking_df!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-2">Solution</a></h4>
    </div>
    <div id="collapse2-2" class="panel-collapse collapse">
      <div class="panel-body">     
Select the data cell you wish the code to be added to<br>
Select the Find and Add Data icon<br>
Select Connections<br>
Select Insert to Code for the connection you wish to use (there should only be one)<br>
Select Insert ibmdbpy IdaDataframe<br>
Select the Schema you used to load the data (this schema should start with DASH)<br>
Select the Table (there should only be one)<br>
Select Insert Code<br>
Rename the result to trafficking_df
      </div>
    </div>
  </div>
</div>

In [19]:
# insert dataframe here
# Try adding the dataframe here -- be sure to rename it to idadf so the following cells will still work
trafficking_df = IdaDataFrame(idadb, 'DASH13422.FEMALE_HUMAN_TRAFFICKING')

In [20]:
idadb.exists_table_or_view(trafficking_df.name)

# The output of this block should be:
# True

True

In [21]:
print(trafficking_df.shape)
trafficking_df.dtypes

(1085, 28)

                                TYPENAME
INTERNAL_ID                     SMALLINT
VETTING_LEVEL                   SMALLINT
DESCRIPTION                      VARCHAR
VETTING_LEVEL_PREDICTION        SMALLINT
ALGORITHM_NAME                   VARCHAR
NAME                             VARCHAR
GENDER                           VARCHAR
BIRTH_DATE                          DATE
BIRTH_COUNTRY                    VARCHAR
BIRTH_COUNTRY_CODE               VARCHAR
OCCUPATION                       VARCHAR
ADDRESS                          VARCHAR
SSN                              VARCHAR
PASSPORT_NUMBER                  INTEGER
PASSPORT_COUNTRY                 VARCHAR
PASSPORT_COUNTRY_CODE            VARCHAR
COUNTRIES_VISITED                VARCHAR
COUNTRIES_VISITED_COUNT         SMALLINT
ARRIVAL_AIRPORT_COUNTRY_CODE     VARCHAR
ARRIVAL_AIRPORT_IATA             VARCHAR
ARRIVAL_AIRPORT_MUNICIPALITY     VARCHAR
ARRIVAL_AIRPORT_REGION           VARCHAR
DEPARTURE_AIRPORT_COUNTRY_CODE   VARCHAR
DEPARTURE_AIRPORT_IATA           VARCHAR
DEPARTURE_AIRPORT_MUNICIPALITY   VARCHAR
DEPARTURE_AIRPORT_REGION         VARCHAR
UUID                             VARCHAR
AGE                             SMALLINT

### Show the top 5 records from the table using a method of the IdaDataFrame <br>
<div class="panel-group" id="accordion-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse1-12">Hint 1</a></h4>
    </div>
    <div id="collapse1-12" class="panel-collapse collapse">
      <div class="panel-body">
      
Heads or tails?
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse2-12">Solution</a></h4>
    </div>
    <div id="collapse2-12" class="panel-collapse collapse">
      <div class="panel-body">
      Heads!<br>
<pre>
trafficking_df.head()
</pre> 
      </div>
    </div>
  </div>
</div>

In [22]:
# enter answer here
idadf.head(10)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,1,100,NA,30,DECISION_TREE,Kathleen Bailey,F,1985-11-27,Ghana,GH,...,US,BMI,Bloomington/Normal,US-IL,AE,AUH,Abu Dhabi,AE-AZ,81d28245-a6d4-40e3-bac0-df61cc6625ce,31
1,2,30,NA,30,DECISION_TREE,Kelly Robbins,F,1971-01-17,Pakistan,PK,...,US,CLE,Cleveland,US-OH,UA,KBP,Kiev,UA-32,b4d817b3-2154-4351-b0e3-bcd736a76bf5,46
2,3,100,NA,30,DECISION_TREE,Linda Stewart,F,1997-04-15,Ghana,GH,...,US,TPA,Tampa,US-FL,RU,KJA,Krasnoyarsk,RU-KYA,a52a6477-1f5e-4b09-a5e3-f76333a7eb10,19
3,4,100,NA,30,DECISION_TREE,Stacey Courtney Gonzalez,F,1984-03-27,Ghana,GH,...,US,TOL,Toledo,US-OH,RU,AER,Sochi,RU-KDA,5fcbbf15-8268-4306-ac26-406c2faae251,32
4,5,30,NA,30,DECISION_TREE,Erika Patie Fowler,F,1998-06-18,Ghana,GH,...,US,FWA,Fort Wayne,US-IN,IE,ORK,Cork,IE-C,6d1fe59a-6828-4bc5-9ded-2194aa238461,18
5,6,100,NA,30,DECISION_TREE,Ashlee Fisher,F,1981-01-05,Ghana,GH,...,US,OKC,Oklahoma City,US-OK,AE,AUH,Abu Dhabi,AE-AZ,b5c7e0a7-56b6-4f3d-b480-76832b4042c4,36
6,7,100,NA,30,DECISION_TREE,Jacqueline Clark,F,1976-01-19,Ghana,GH,...,US,TUS,Tucson,US-AZ,IS,KEF,Reykjavík,IS-2,077fc1af-1802-40ac-b3bd-c6329d2161d3,41
7,8,30,NA,30,DECISION_TREE,Shell Chapman,F,1997-08-24,Ghana,GH,...,US,DLF,Del Rio,US-TX,KW,KWI,Kuwait City,KW-FA,fb3808ae-b5f8-482b-bac7-4cebb8761723,19
8,9,10,NA,10,DECISION_TREE,Sabrina Debra Wilson,F,1977-02-21,Haiti,HT,...,US,DTW,Detroit,US-MI,DZ,ALG,Algiers,DZ-35,4e2f72ee-b05c-4763-9503-448d93ef72d7,40
9,10,100,NA,10,DECISION_TREE,Ashley Gibson,F,1986-04-06,Ghana,GH,...,US,STL,St Louis,US-MO,IT,FCO,Rome,IT-62,d4252e23-2f33-42b7-a54f-fc1ecfa4c3ff,30

### Query the trafficking table so that we get the vetting_level and the number of times that vetting_level appears in the trafficking table, ordered by the vetting_level<br>
<div class="panel-group" id="accordion-13">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse1-13">Hint 1</a></h4>
    </div>
    <div id="collapse1-13" class="panel-collapse collapse">
      <div class="panel-body">
      
It is similar to:

<pre>
<resource>.ida_query('SELECT EMPLOYEE_KEY, COUNT(&#42;) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse2-13">Hint 2</a></h4>
    </div>
    <div id="collapse2-13" class="panel-collapse collapse">
      <div class="panel-body">
      
The SQL query is:

<pre>
'SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_table + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL'
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse3-13">Solution 1</a></h4>
    </div>
    <div id="collapse3-13" class="panel-collapse collapse">
      <div class="panel-body">
      
<pre>
idadb.ida_query('SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')
</pre>

      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse3-14">Solution 2</a></h4>
    </div>
    <div id="collapse3-14" class="panel-collapse collapse">
      <div class="panel-body">
      
<pre>
trafficking_df.ida_query('SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')
</pre>

      </div>
    </div>
  </div>
</div>

In [23]:
# Enter query here
idadb.ida_query('SELECT VETTING_LEVEL, COUNT(*) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')

   vetting_level  count
0             10   42.0
1             20   40.0
2             30   96.0
3            100  907.0

<a id="Close-the-database-connection"></a>
## Close the database connection

To ensure expected behaviors, IdaDataBase instances need to be closed.

__Note__: Closing the *IdaDataBase* is equivalent to closing the connection: once the connection is closed, it is no longer possible to use the *IdaDataBase* instance and any *IdaDataFrame* instances that were opened on this connection.

In [24]:
idadb.close()

Connection closed.

<a id="Share"></a>
## Share the notebook
You can share a notebook by selecting the Share icon.<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/share-button.png" ><br>
This displays a Share Notebook popup which gives the user a link which can can be sent to other users.   Anyone with the link will see the most recent version of the notebook.   The user can determine what level of notebook information will be shared.
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Share-Window.PNG" ><br>

<a id="GitHub"></a>
## Publish the notebook to gist/GitHub

Select the Github/Gist integration icon from the command bar (it looks like an open box with an arrow pointing up).<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/github-button.png" ><br>

If you wish to publish to a gist, nothing more is needed.   However, if you want to publish to github, you will need a security token.

Select Publish on GitHub<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/NoGitHub.PNG" ><br>
You will get a popup stating that you need to set a token in your account settings.   This can be reached by selecting the account settings link in the popup or by selecting your personal icon (upper right hand corner) and selecting settings.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Profile.PNG" ><br>
In the Profile settings page select Integrations and paste your github token there.   

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Integrations.PNG" ><br>
I have provided one for you should you wish to try this which uses the account at http://github.com/dsxspare3/DSX-Demo

I broke it into two pieces because otherwise github will delete it when publishing to github because it is a valid token.   Paste them together when putting in the github token in DSX.

Part 1: 8e8ff3b15d92438fc4  Part 2: a2a0aad611310d2562d8b5

Finally, you need to add the URL for the GitHub in the Settings section of your project.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/ProjectSettings.PNG" ><br>

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/GitHubURL.PNG" ><br>

You should now be able to publish to GitHub for this project.   When publishing, you are asked for the path to save.   Since all users will be using the same GitHub I suggest publishing to a folder with your username.

<a id="Help"></a>
## Get Help

Select the icon in the lower right corner 
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Help-Icon.PNG"/>
to display a help window connecting to IBM DSX Support.
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Help-Window.PNG"/>

<a id="Summary"></a>
## Summary

This notebook demonstrated how to establish a JDBC connection to a DB2 Warehouse (or DB2) database from Python, work with data frames and explore the data using SQL and data frame object attributes and methods.

## Take it farther
### Free courses on <a href="https://cognitiveclass.ai/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Cognitive Class.ai</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>